@model CreateBookInputModel

@{
    ViewBag.Title = "Novo livro";
    Layout = "_Layout";
}


<div class="w-full flex flex-row px-1 sm:px-0 justify-center ">
    <form id="add-book-form" class="mt-4 lg:mt-16 w-full sm:w-1/2" asp-action="AddBook" asp-controller="Library"
          method="post">
        @Html.AntiForgeryToken()
        <div class="shadow-lg rounded-lg bg-base-100 mx-auto">
            <div class="card-body items-center">
                <h2 class="card-title text-primary text-xl self-start">Novo Livro</h2>
                <div class="my-2"></div>
                <p class="text-info text-base text-center">Cadastre um novo livro <b>manualmente </b> ou buscando pelo
                    <b>isbn</b>
                </p>
                <div class="my-2"></div>

                <div id="add-book-container" class="w-full grid grid-cols-1 sm:grid-cols-2 gap-0 sm:gap-x-4">
                    <fieldset class="fieldset w-full order-1 sm:col-span-2">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Isbn)</legend>
                        <div class="join">
                            <input id="input-isbn" asp-for="Isbn" type="search" class="input w-full input-lg join-item"
                                   placeholder="Ex: 9781234543212"/>
                            <button id="search-isbn" type="button" class="btn join-item btn-lg" data-btn-loading="false">
                               <p class="button-text">Buscar</p> 
                               <span class="loading loading-spinner hidden"></span>
                            </button>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset w-full order-2 sm:col-span-2">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Title)</legend>
                        <input id="book-title" type="text" asp-for="Title" class="input w-full input-lg"
                               placeholder="Ex: Crônicas de Nárnia"/>
                        <span class="text-error" asp-validation-for="Title"></span>
                    </fieldset>

                    <fieldset class="fieldset w-full order-3 sm:col-span-2">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Author)</legend>
                        <input id="book-author" type="text" asp-for="Author" class="input w-full input-lg" placeholder="Ex: C.S Lewis"/>
                        <p class="label">Separar com virgula em caso de multiplos autores</p>
                        <span class="text-error" asp-validation-for="Author"></span>
                    </fieldset>

                    <fieldset class="fieldset w-full order-4">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Publisher)</legend>
                        <input id="book-publisher" type="text" asp-for="Publisher" class="input w-full input-lg"
                               placeholder="Ex: Thomas Nelson"/>
                        <span class="text-error" asp-validation-for="Publisher"></span>
                    </fieldset>

                    <fieldset class="fieldset w-full order-5">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.PageCount)</legend>
                        <input id="book-pages" type="number" asp-for="PageCount" class="input w-full input-lg" placeholder="Ex: 300"/>
                        <span class="text-error" asp-validation-for="PageCount"></span>
                    </fieldset>

                    <fieldset class="fieldset w-full sm:col-span-2 order-6">
                        <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Description)</legend>
                        <textarea id="book-desc" asp-for="Description" placeholder="Narra a aventura de..."
                                  class="textarea textarea-lg w-full"></textarea>
                        <span class="text-error" asp-validation-for="Description"></span>
                    </fieldset>
                </div>
                <div class="my-4"></div>
                <div class="justify-end card-actions w-full">
                    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
                </div>
                <div class="my-2"></div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(document).ready(function () {
            
            
            function searchBookByIsbn() {
                toggleLoading();
                $.ajax({
                    url: '@Url.Action("SearchByIsbn", "Library")',
                    method: 'GET',
                    data: {
                        isbn: $('#input-isbn').val()
                    },
                    success: function (res) {
                        fillForm(res.data);
                    },
                    error: function (err) {
                        console.log(err)
                        showAjaxToast(err.responseJSON.message, "error");
                        console.log("ERROOOOOOOO");
                    },
                    complete: function () {
                        console.log("Completou!")
                        toggleLoading();
                    }
                })
            }
            
            function fillForm(data) {
                $("#book-title").val(data.title);
                $("#book-author").val(data.author);
                $("#book-desc").val(data.description);
                $("#book-publisher").val(data.publisher);
                $("#book-pages").val(data.pageCount);
            }
            
            function toggleLoading() {
                const $button = $("#search-isbn");
                const $buttonText = $button.find(".button-text");
                const $loadingIndicator = $button.find(".loading");
                const isLoading = $button.data("btn-loading");

                if (isLoading) {
                    $button.data("btn-loading", false);
                    $buttonText.removeClass("hidden"); 
                    $loadingIndicator.addClass("hidden"); 
                } else {
                    $button.data("btn-loading", true);
                    $buttonText.addClass("hidden"); 
                    $loadingIndicator.removeClass("hidden"); 
                } 
            }

            $("#search-isbn").on('click', function () {
                searchBookByIsbn();
            })
            
            $("#input-isbn").on("paste", function (e) {
                e.preventDefault();
                const text = e.originalEvent.clipboardData.getData('text');
                const isbn = text.replace(/[^0-9]/g, '');
                $('#input-isbn').val(isbn);
            });
        })
    </script>
}
